USE [master]
GO
/****** Objeto: Database [BD_64PR] Fecha de script: 19/5/2026 03:28:09 ******/
CREATE DATABASE [BD_64PR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_64PR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_64PR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_64PR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BD_64PR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_64PR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_64PR]
GO
/****** Objeto: Table [dbo].[Evento_64PR] Fecha de script: 19/5/2026 03:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_64PR](
	[Id_evento] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Id_modulo] [int] NOT NULL,
	[Id_Tipo] [int] NOT NULL,
	[criticidad] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Modulo_64PR] Fecha de script: 19/5/2026 03:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo_64PR](
	[Id_modulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEvento_64PR] Fecha de script: 19/5/2026 03:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento_64PR](
	[Id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO_64PR] Fecha de script: 19/5/2026 03:28:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_64PR](
	[DNI] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Contraseña] [varbinary](48) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[PrimeraVez] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Evento_64PR] ON 

INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (2, N'Alejo.Rico', CAST(N'2026-05-19' AS Date), CAST(N'01:36:31.4433333' AS Time), 1, 1, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (3, N'Alejo.Rico', CAST(N'2026-05-19' AS Date), CAST(N'01:50:28.5333333' AS Time), 1, 1, 5)
INSERT [dbo].[Evento_64PR] ([Id_evento], [Login], [Fecha], [Hora], [Id_modulo], [Id_Tipo], [criticidad]) VALUES (4, N'Alejo.Rico', CAST(N'2026-05-19' AS Date), CAST(N'01:51:38.2700000' AS Time), 1, 1, 5)
SET IDENTITY_INSERT [dbo].[Evento_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[Modulo_64PR] ON 

INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (2, N'Gestion de usuarios')
INSERT [dbo].[Modulo_64PR] ([Id_modulo], [Nombre]) VALUES (1, N'Login')
SET IDENTITY_INSERT [dbo].[Modulo_64PR] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] ON 

INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (1, N'Login exitoso')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (2, N'Cambio de clave')
INSERT [dbo].[TipoEvento_64PR] ([Id_tipo], [Nombre]) VALUES (3, N'Login fallido')
SET IDENTITY_INSERT [dbo].[TipoEvento_64PR] OFF
GO
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez]) VALUES (N'12345678', N'Prueba', N'Don', N'Don.Prueba', 0x8E367942050FAC0EB0AA8074251A72C19C62731DA471CEFAB1E64DEBDF058215E2A1E7816E1022A8EAB658265CBF142D, N'administrador', N'PcDze3VjR9vZ/Oe/8J0UezJMZMNkC66gwQ8+gEWwUKMMh4/pfyYWEbuf6PuEhL95', 0, 1, 0, 1)
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez]) VALUES (N'47190174', N'Rico', N'Alejo', N'Alejo.Rico', 0x39BA73E92A52704449B2EF3AFA55A98F25C15BE269A53767725A11510D7C2C44E228BBAD31A47111AE2AD540DA4094A8, N'administrador', N'rCFhOFFpZlrT8D3vBiS9OEJs9oHeRA9PqV45oVr02Dm1qQ/+SNsMAOi32xXpJvNM', 0, 1, 0, 0)
INSERT [dbo].[USUARIO_64PR] ([DNI], [Apellido], [Nombre], [Login], [Contraseña], [Rol], [Email], [Bloqueo], [Activo], [Intentos], [PrimeraVez]) VALUES (N'47255186', N'Pignataro', N'Julian', N'Julian.Pignataro', 0xB45C49A7E1BC9DC97855265BB3E47CA2169345F02D2C7E5DF6231F748A21EDBA128B5D1D78F894FD24AB20E85C990802, N'administrador', N'8Cv3PnicsSNdUzX9M7WFWnLu3fkH/HtQsMMAIo0xjHiaTVZBzyzzx66lP1Alarmu', 0, 1, 0, 1)
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo_6__75E3EFCF6755E751] Fecha de script: 19/5/2026 03:28:10 ******/
ALTER TABLE [dbo].[Modulo_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___5E55825BDA77051A] Fecha de script: 19/5/2026 03:28:10 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__USUARIO___A9D105344F085001] Fecha de script: 19/5/2026 03:28:10 ******/
ALTER TABLE [dbo].[USUARIO_64PR] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [Fecha]
GO
ALTER TABLE [dbo].[Evento_64PR] ADD  CONSTRAINT [DF_Bitacora_Hora]  DEFAULT (CONVERT([time],getdate())) FOR [Hora]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[USUARIO_64PR] ADD  DEFAULT ((1)) FOR [PrimeraVez]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Evento] FOREIGN KEY([Id_Tipo])
REFERENCES [dbo].[TipoEvento_64PR] ([Id_tipo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Evento]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Modulo] FOREIGN KEY([Id_modulo])
REFERENCES [dbo].[Modulo_64PR] ([Id_modulo])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Modulo]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Login])
REFERENCES [dbo].[USUARIO_64PR] ([Login])
GO
ALTER TABLE [dbo].[Evento_64PR] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Evento_64PR]  WITH CHECK ADD CHECK  (([criticidad]>=(1) AND [criticidad]<=(5)))
GO
USE [master]
GO
